<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772401332327-2jpismpvvmfjp8b9fmlbordr13eegl91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772401332327-2jpismpvvmfjp8b9fmlbordr13eegl91</string>
	<key>API_KEY</key>
	<string>AIzaSyCpa5vZKajfxhZjUA878PyX6zva3LW-pX4</string>
	<key>GCM_SENDER_ID</key>
	<string>772401332327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usc.gridgod</string>
	<key>PROJECT_ID</key>
	<string>gridgod-usc</string>
	<key>STORAGE_BUCKET</key>
	<string>gridgod-usc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772401332327:ios:e2e723e7ea16a9d58194c2</string>
	<key>DATABASE_URL</key>
	<string>https://gridgod-usc.firebaseio.com</string>
</dict>
</plist>